{% extends 'base_mailing.html.twig' %}
{% block body %}
    <p>
        {{ 'mail.registerClinicExpert' | trans({ '%login%': data.login, '%homeUrl%': 'https://'~domain~'/','%login%': data.expertUsername is defined ? data.expertUsername : '...' }, 'mailing', locale) | raw }}
    </p>
    <table style="margin: 50px auto;">
        <tbody>
        <tr>
            <td>
		        {{ 'mail.loginClinicExpert' | trans({ '%href%': data.recoveryPasswordUrl }, 'mailing', locale) | raw }}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
