{% extends 'base_mailing.html.twig' %}
{% block body %}

    <table>
        <tr>
            <p style="font-size: 16px; font-weight: 400; line-height: 1; margin-top: 0;  text-align: left; color: #16395B">
                <b>
                    {{ 'register.congratulation' | trans({}, 'mailing', locale) }}
                </b>
            </p>
        </tr>
        <tr>
            <span style="color: #16395B; ">{{ 'register.firstStep' | trans({}, 'mailing', locale) }}</span>
        </tr>
        <tr>
            <br>
            {% if data.send is defined and data.send == 'charge' %}
                <p>{{ 'register.charge.yourParent' | trans({}, 'mailing') }} - {{ data.parent }}</p>
                <p>{{ 'register.charge.yourParentMessage' | trans({}, 'mailing', locale) }}</p>
                <p>
                    <strong>{{ 'register.yourLogin' | trans({}, 'mailing') }}: </strong>
                    {{ data.email }} <strong>{{ 'register.or' | trans({}, 'mailing', locale) }}</strong> {{ data.username }}
                </p>
                {% if data.password is defined %}
                    <p><strong>{{ 'register.yourPassword' | trans({}, 'mailing', locale) }}: </strong>{{ data.password }}</p>
                {% endif %}
                <p>{{ 'register.confirmEmailText' | trans({}, 'mailing', locale) }} -
                    <a href="{{ data.confirmRegisterUrl }}">{{ data.confirmRegisterUrl }}</a>
            {% endif %}
            {% if data.send is defined and data.send == 'parent' %}
                <p>{{ 'register.parent.yourCharge' | trans({}, 'mailing', locale) }} - {{ data.charge }}</p>
                <p>{{ 'register.parent.yourChargeMessage' | trans({}, 'mailing', locale) }}</p>
            {% endif %}

            {% if data.send is not defined %}
                <p>
                    <strong>{{ 'register.yourLogin' | trans({}, 'mailing', locale) }}: </strong>
                    {{ data.email }} <strong>{{ 'register.or' | trans({}, 'mailing', locale) }}</strong> {{ data.username }}
                </p>
                {% if data.password is defined %}
                    <p><strong>{{ 'register.yourPassword' | trans({}, 'mailing', locale) }}: </strong>{{ data.password }}</p>
                {% endif %}
                <p>{{ 'register.confirmEmailText' | trans({}, 'mailing', locale) }} -
                    <a href="{{ data.confirmRegisterUrl }}">{{ data.confirmRegisterUrl }}</a>
                </p>
            {% endif %}
            {% if data.consultantFullName is defined and data.consultantFullName is not empty %}
                <p>
                    {{ 'mail.yourConsultant' | trans({}, 'mailing', locale) }} <a href="{{ data.consultantUrl }}">"{{ data.consultantFullName }}"</a>
                </p>
                <br>
            {% endif %}
            {% if data.message is defined and data.message is not empty %}
                {{ data.message | raw }}
            {% endif %}
        </tr>
    </table>
    <table style="margin: 30px auto">
        <tbody>
        <tr>
            <td style="height: 200px; width: 200px">
                <img src="{{ 'https://'~domain~'/build/images/mail/monitor-quations.png' }}" alt=""
                     style="height: 270px; width: 400px"/>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="font-size: 16px; font-weight: 400; line-height: 1; margin-top: 0;  text-align: left; color: #16395B; margin-bottom: 20px;">
       <b>{{ 'message.available-function' | trans({}, 'mailing', locale) }}</b></p>
    <table>
        <tbody>
        <tr>
            <td style="padding-bottom: 25px;">
                <table class="icon-item"
                       style="border-radius: 50%; border: 1px solid #2CE3BA; width: 60px; height: 60px; float: left;">
                    <tr>
                        <td>
                          <span style="background: #ffffff; width: 50px; height: 50px; display: block; margin: 5px; border-radius: 50%; box-shadow: 0 20px 30px 0 rgba(22,57,91,0.15);">
                            <img src="{{ 'https://'~domain~'/build/images/mail/Doctor_online.png' }}"
                                 style="width: 26px; height: 26px; padding: 12px" alt=""/>
                          </span>
                        </td>
                    </tr>
                </table>
                <table class="icon-text" style="color: #16395B; margin-left: 75px; margin-top: 13px;">
                    <tr>
                        <td>
                            <span style="display: block; font-weight: 500; font-size: 16px;">{{ 'message.function.booking' | trans({}, 'mailing', locale) }}</span>
                            <span style="display: block; font-size: 13px;">{{ 'message.function.booking.text' | trans({}, 'mailing', locale) }}</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 25px;">
                <table class="icon-item"
                       style="border-radius: 50%; border: 1px solid #2CE3BA; width: 60px; height: 60px; float: left;">
                    <tr>
                        <td>
                          <span style="background: #ffffff; width: 50px; height: 50px; display: block; margin: 5px; border-radius: 50%; box-shadow: 0 20px 30px 0 rgba(22,57,91,0.15);">
                            <img src="{{ 'https://'~domain~'/build/images/mail/AnalyticsNav.png' }}"
                                 style="width: 25px; height: 25px; padding: 13px" alt=""/>
                          </span>
                        </td>
                    </tr>
                </table>
                <table class="icon-text" style="color: #16395B; margin-left: 75px; margin-top: 13px;">
                    <tr>
                        <td>
                            <span style="display: block; font-weight: 500; font-size: 16px;">{{ 'message.function.archive' | trans({}, 'mailing', locale) }}</span>
                            <span style="display: block; font-size: 13px;">{{ 'message.function.archive.text' | trans({}, 'mailing', locale) }}</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 25px;">
                <table class="icon-item"
                       style="border-radius: 50%; border: 1px solid #2CE3BA; width: 60px; height: 60px; float: left;">
                    <tr>
                        <td>
                          <span style="background: #ffffff; width: 50px; height: 50px; display: block; margin: 5px; border-radius: 50%; box-shadow: 0 20px 30px 0 rgba(22,57,91,0.15);">
                            <img src="{{ 'https://'~domain~'/build/images/mail/Orion_bookmark-archive.png' }}"
                                 style="width: 25px; height: 20px; padding: 16px 13px" alt=""/>
                          </span>
                        </td>
                    </tr>
                </table>
                <table class="icon-text" style="color: #16395B; margin-left: 75px; margin-top: 13px;">
                    <tr>
                        <td>
                            <span style="display: block; font-weight: 500; font-size: 16px;">{{ 'message.function.bonus' | trans({}, 'mailing', locale) }}</span>
                            <span style="display: block; font-size: 13px;">{{ 'message.function.bonus.text' | trans({}, 'mailing', locale) }}</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="icon-item"
                       style="border-radius: 50%; border: 1px solid #2CE3BA; width: 60px; height: 60px; float: left;">
                    <tr>
                        <td>
                          <span style="background: #ffffff; width: 50px; height: 50px; display: block; margin: 5px; border-radius: 50%; box-shadow: 0 20px 30px 0 rgba(22,57,91,0.15);">
                            <img src="{{ 'https://'~domain~'/build/images/mail/Financial_Zero.png' }}"
                                 style="width: 25px; height: 21px; padding: 14px 13px" alt=""/>
                          </span>
                        </td>
                    </tr>
                </table>
                <table class="icon-text" style="color: #16395B; margin-left: 75px; margin-top: 13px;">
                    <tr>
                        <td>
                            <span style="display: block; font-weight: 500; font-size: 16px;">{{ 'message.function.monitoring' | trans({}, 'mailing', locale) }}</span>
                            <span style="display: block; font-size: 13px;">{{ 'message.function.monitoring.text' | trans({}, 'mailing', locale) }}</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    {% if data.confirmRegisterUrl is defined %}
        <table style="margin: 50px auto;">
            <tbody>
            <tr>
                <td style="hight: 35px">
                    <a href="{{ data.confirmRegisterUrl }}" style="width: 300px; padding: 10px 20px; border-radius: 30px; height: 40px; background: #12C48B; color: #ffffff; font-size: 16px; font-weight: 300; margin: 0 auto;">
                        {{ 'register.button.confirm' | trans({}, 'mailing', locale) }}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}

{% endblock %}