{% extends 'base_mailing.html.twig' %}
{% block body %}
    <table>
        <tr>
            <p style="font-size: 16px; font-weight: 400; line-height: 1; margin-top: 0;  text-align: left; color: #16395B">
                <!-- {{ subject }} --> <b>{{ 'mail.register-expert.congratulations' | trans({}, 'mailing', locale) }}</b></p>
        </tr>
        <tr>
            <span style="color: #16395B; ">{{ 'mail.register-expert.firstStep' | trans({}, 'mailing', locale) }}</span>
        </tr>
        <tr>
            {% if data.message is defined and message is not empty %}
                {{ data.message | raw }}
            {% endif %}
        </tr>
    </table>
    <table style="margin: 30px auto">
        <tbody>
        <tr>
            <td style="height: 200px; width: 200px">
                <img src="{{ 'https://'~domain~'build/images/mail/monitor-quations.png' }}"
                     alt="" style="height: 270px; width: 400px"/>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="font-size: 16px; font-weight: 400; line-height: 1; margin-top: 0;  text-align: left; color: #16395B; margin-bottom: 20px;">
        <!-- {{ subject }} --> <b>{{ 'mail.register-expert.functionList' | trans({}, 'mailing', locale) }}</b></p>
    <table>
        <tbody>
        <tr>
            <td style="padding-bottom: 25px;">
                <table class="icon-item"
                       style="border-radius: 50%; border: 1px solid #2CE3BA; width: 60px; height: 60px; float: left;">
                    <tr>
                        <td>
                          <span style="background: #ffffff; width: 50px; height: 50px; display: block; margin: 5px; border-radius: 50%; box-shadow: 0 20px 30px 0 rgba(22,57,91,0.15);">
                            <img src="{{ 'https://'~domain~'build/images/mail/Doctor_online.png' }}"
                                 style="width: 26px; height: 26px; padding: 12px" alt=""/>
                          </span>
                        </td>
                    </tr>
                </table>
                <table class="icon-text" style="color: #16395B; margin-left: 75px; margin-top: 13px;">
                    <tr>
                        <td>
                            <span style="display: block; font-weight: 500; font-size: 16px;">{{ 'mail.register-expert.function.reserved' | trans({}, 'mailing', locale) }}</span>
                            <span style="display: block; font-size: 13px;">{{ 'mail.register-expert.function.reservedText' | trans({}, 'mailing', locale) }}</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 25px;">
                <table class="icon-item"
                       style="border-radius: 50%; border: 1px solid #2CE3BA; width: 60px; height: 60px; float: left;">
                    <tr>
                        <td>
                          <span style="background: #ffffff; width: 50px; height: 50px; display: block; margin: 5px; border-radius: 50%; box-shadow: 0 20px 30px 0 rgba(22,57,91,0.15);">
                            <img src="{{ 'https://'~domain~'build/images/mail/AnalyticsNav.png' }}"
                                 style="width: 25px; height: 25px; padding: 13px" alt=""/>
                          </span>
                        </td>
                    </tr>
                </table>
                <table class="icon-text" style="color: #16395B; margin-left: 75px; margin-top: 13px;">
                    <tr>
                        <td>
                            <span style="display: block; font-weight: 500; font-size: 16px;">{{ 'mail.register-expert.function.archive' | trans({}, 'mailing', locale) }}</span>
                            <span style="display: block; font-size: 13px;">{{ 'mail.register-expert.function.archiveText' | trans({}, 'mailing', locale) }}</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 25px;">
                <table class="icon-item"
                       style="border-radius: 50%; border: 1px solid #2CE3BA; width: 60px; height: 60px; float: left;">
                    <tr>
                        <td>
                          <span style="background: #ffffff; width: 50px; height: 50px; display: block; margin: 5px; border-radius: 50%; box-shadow: 0 20px 30px 0 rgba(22,57,91,0.15);">
                            <img src="{{ 'https://'~domain~'build/images/mail/Orion_bookmark-archive.png' }}"
                                 style="width: 25px; height: 20px; padding: 16px 13px" alt=""/>
                          </span>
                        </td>
                    </tr>
                </table>
                <table class="icon-text" style="color: #16395B; margin-left: 75px; margin-top: 13px;">
                    <tr>
                        <td>
                            <span style="display: block; font-weight: 500; font-size: 16px;">{{ 'mail.register-expert.function.bonuse' | trans({}, 'mailing', locale) }}</span>
                            <span style="display: block; font-size: 13px;">{{ 'mail.register-expert.function.bonuseText' | trans({}, 'mailing', locale) }}</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="icon-item"
                       style="border-radius: 50%; border: 1px solid #2CE3BA; width: 60px; height: 60px; float: left;">
                    <tr>
                        <td>
                          <span style="background: #ffffff; width: 50px; height: 50px; display: block; margin: 5px; border-radius: 50%; box-shadow: 0 20px 30px 0 rgba(22,57,91,0.15);">
                            <img src="{{ 'https://'~domain~'build/images/general/Financial_Zero.svg' }}"
                                 style="width: 25px; height: 21px; padding: 14px 13px" alt=""/>
                          </span>
                        </td>
                    </tr>
                </table>
                <table class="icon-text" style="color: #16395B; margin-left: 75px; margin-top: 13px;">
                    <tr>
                        <td>
                            <span style="display: block; font-weight: 500; font-size: 16px;">{{ 'mail.register-expert.function.monitoring' | trans({}, 'mailing', locale) }}</span>
                            <span style="display: block; font-size: 13px;">{{ 'mail.register-expert.function.monitoringText' | trans({}, 'mailing', locale) }}</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}