{% extends 'base_mailing.html.twig' %}
{% block body %}

    <table>
        <tr>
            <p style="color: #EB3B3B; font-size: 30px; font-weight: 500;"> {{ 'mail.attention' | trans({}, 'mailing', locale)}}</p>
            <br/>
        </tr>
        <tr style="margin-bottom: 20px; display: block;">
            <span style="color: #16395B;">
                {% if data.message is defined and data.message is not empty %}
                    {{ data.message | raw }}
                {% endif %}
            </span>
            <br/>
        </tr>
{#        <tr style="margin-bottom: 20px; display: block;">#}
{#            <p style="font-size: 16px; font-weight: 400; line-height: 1; margin-top: 0;  text-align: left; color: #16395B">#}
{#                <b>{{ mail.contactExpertAsap | trans({}, 'mailing') }}</b>#}
{#            </p>#}
{#        </tr>#}
    </table>
    <table style="margin: 30px auto">
        <tbody>
        <tr>
            <td style="height: auto; width: 200px">
                <img src="{{ 'https://'~domain~'/build/images/mail/warning@3x.png' }}" alt="img"
                     style="height: 340px; width: 400px"/>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}