{% extends 'base_mailing.html.twig' %}
{% block body %}

    <table>
        <tr>
            <p style="font-size: 16px; font-weight: 400; line-height: 1; margin-top: 0;  text-align: left; color: #16395B">
                <b>{{ 'mail.booking.title' | trans({}, 'mailing', locale) }}</b>
            </p>
        </tr>
        <tr style="margin-bottom: 20px; display: block;">
            {% if data.onlyMessage is not defined or data.onlyMessage is defined and data.onlyMessage != true %}
            {% if data.userId == data.clientId %}
                {% set noTitle = 'mail.booking.noTitle' | trans({}, 'mailing', locale) %}
                {% set noName = 'mail.booking.noName' | trans({}, 'mailing', locale) %}
                <span style="color: #16395B;">
                    {{ 'mail.booking.client.sucess' | trans({}, 'mailing', locale) }}
                    {{ data.title | default(noTitle) }}
                    {{ 'mail.booking.client.doctor' | trans({}, 'mailing', locale) }}
                    {{ data.expertFullName | default(noName) }}
                </span>
            {% else %}
                <span style="color: #16395B;">
                    {{ 'mail.booking.expert.sucess' | trans({}, 'mailing', locale) }}
                    {{ data.title | default('Без назви') }}
                    {{ 'mail.booking.expert.client' | trans({}, 'mailing', locale) }}
                    {{ data.clientFullName | default('Ім\'я не вказано') }}
                </span>
            {% endif %}
            {% endif %}
        </tr>
        {% if data.message is defined and data.message is not empty %}
            {{ data.message | raw }}
        {% endif %}
    </table>
    <table style="margin: 30px auto">
        <tbody>
        <tr>
            <td style="height: 200px; width: 200px">
                <img src="{{ 'https://'~domain~'/build/images/mail/undraw_doctor_kw5l.png' }}" alt="img"
                    style="height: 270px; width: 400px"/>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <tr style="margin-bottom: 20px; display: block;">
            <td style="margin-right: 95pxfloat: left;display: block;">
                <p style="margin-bottom: 5px;font-size: 14px;color: #000;font-weight: bold;">{{ 'mail.booking.datetime' | trans({}, 'mailing', locale) }}</p>
                <span style="font-size: 14px;color: #000;">{{ data.startDate | default('Дату не вказано') }}</span>
            </td>
            <td style="margin-right: 95pxfloat: left;display: block;">
                <p style="margin-bottom: 5px;font-size: 14px;color: #000;font-weight: bold;">{{ 'mail.booking.consultationType' | trans({}, 'mailing', locale) }}</p>
                <span style="font-size: 14px;color: #000;">{{ data.consultationType }}</span>
            </td>
            <td style="margin-right: 95pxfloat: left;display: block;">
                <p style="margin-bottom: 5px;font-size: 14px;color: #000;font-weight: bold;">{{ 'mail.booking.price' | trans({}, 'mailing', locale) }}</p>
                <span style="font-size: 14px;color: #000;">{{ data.price }}грн</span>
            </td>
        </tr>
        {% if data.departureToTheClient %}
            <tr>
                <td>
                    <p style="margin-bottom: 5px;font-size: 14px;color: #000;font-weight: bold;">
                        {{ 'mail.booking.address' | trans({}, 'mailing', locale) }}
                    </p>
                    <span style="font-size: 14px;color: #000;">{{ data.receivingLocation }}</span>
                </td>
            </tr>
        {% endif %}
    </table>
    <table style="margin: 50px auto;">
        <tbody>
        <tr>
            <td style="hight: 35px">
                {% if data.userId == data.clientId %}
                    <a href="{{ data.cabinetProfileUrl }}"
                       style="width: 300px; padding: 10px 50px; border-radius: 30px; height: 40px; background: #12C48B; color: #ffffff; font-size: 16px; font-weight: 300; margin: 0 auto;">{{ 'mail.booking.goToProfile' | trans({}, 'mailing', locale) }}
                    </a>
                {% else %}
                    <a href="{{ data.cabinetBookedServicesUrl }}"
                       style="width: 300px; padding: 10px 50px; border-radius: 30px; height: 40px; background: #12C48B; color: #ffffff; font-size: 16px; font-weight: 300; margin: 0 auto;">{{ 'mail.booking.viewService' | trans({}, 'mailing', locale) }}
                    </a>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}