{% extends 'base_mailing.html.twig' %}
{% block body %}

    <table>
        <tr>
            <p style="font-size: 16px; font-weight: 400; line-height: 1; margin-top: 0;  text-align: left; color: #16395B">
                <b>{{ 'mail.booking.generic.bookedService' | trans({}, 'mailing', locale) }}</b>
            </p>
        </tr>
        <tr style="margin-bottom: 20px; display: block;">
            {% if data.message is defined and data.message is not empty %}
                {{ data.message | raw }}
            {% endif %}
        </tr>

    </table>
    <table style="margin: 30px auto">
        <tbody>
        <tr>
            <td style="height: 200px; width: 200px">
                <img src="{{ 'https://'~domain~'/build/images/mail/undraw_doctor_kw5l.png' }}" alt="img"
                    style="height: 270px; width: 400px"/>
            </td>
        </tr>
        </tbody>
    </table>
    <table style="margin: 50px auto;">
        <tbody>
        <tr>
            <td style="hight: 35px">
                {% if data.forClient %}
                    <a href="{{ data.cabinetProfileUrl }}"
                       style="width: 300px; padding: 10px 50px; border-radius: 30px; height: 40px; background: #12C48B; color: #ffffff; font-size: 16px; font-weight: 300; margin: 0 auto;">{{ 'cabinet.profile.profile' | trans({}, 'mailing', locale) }}</a>
                {% else %}
                    <a href="{{ data.cabinetBookedServicesUrl }}"
                       style="width: 300px; padding: 10px 50px; border-radius: 30px; height: 40px; background: #12C48B; color: #ffffff; font-size: 16px; font-weight: 300; margin: 0 auto;">{{ 'company.page.allServices' | trans({}, 'mailing', locale) }}</a>
                {% endif %}`
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}