<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Type" content="image/png"/>
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&amp;subset=cyrillic" rel="stylesheet"/>
    <style type="text/css">

        h3 {
            font-size: 21px;
        }
        p, li {
            font-weight: 300;
            color: #626476;
            font-size: 18px;
            line-height: 22px;
        }
        li {
            margin-bottom: 7px;
        }
        p {
            margin-bottom: 30px;
        }

        @media (max-width: 720px) {
            .main-block {
                width: 100%!important;

            }
            .main-block-logo {
                width: 100%!important;
            }
            .main-block.white .main-block-td {
                padding: 25px!important;
            }

            .big-padding {
                padding: 0 10px!important;
            }

            .p-tp {
                padding: 0 10px!important;
            }
            .ul-tp {
                padding: 0 10px 0 30px!important;
            }

        }
    </style>
</head>
                                <body style="background: #f7f9fe; -moz-box-sizing: border-box; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -webkit-text-size-adjust: 100%; Margin: 0; box-sizing: border-box; color: #000; font-family: 'Lato',sans-serif; font-size: 14px; font-weight: 300; line-height: 19px; margin: 0; min-width: 100%; padding: 0; text-align: left; width: 100% !important;">
                                <table style="background: #ffffff; border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 100%;">
                                    <tr style="padding: 0; text-align: left; vertical-align: top;">
                                        <td>
                                            <table style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 100%;">
                                                <tr>
                                                    <td>
                                                        <table class="main-block white" align="center" style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 600px; margin: 0 auto;">
                                                            <tr>
                                                                <td class="main-block-td" style="box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.04); background-color: #F5FCFA; padding: 20px 25px;">
                                                                    <table class="main-block-logo" align="center" style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 600px; margin: 0 auto 30px;">
                                                                        <tr >
                                                                            <td>
                                                                                <img src="{{ 'https://'~domain~'/build/images/mail/logo-video.png' }}" style="width: 150px;height: 36px;" alt="img" />
                                                                            </td>
                                                                        </tr>
                                                                    </table>

                                    <table>
                                        <tr>
                                            <p style="font-size: 16px; font-weight: 400; line-height: 1; margin-top: 0;  text-align: left; color: #16395B">
                                                <b>{{ 'mail.reminder.title' | trans({}, 'mailing', locale) }}</b>
                                            </p>
                                        </tr>
                                        <tr style="margin-bottom: 20px; display: block;">
                                            <span style="color: #16395B;">
                                                {% if data.message is defined and data.message is not empty %}
                                                    {{ data.message | raw }}
                                                {% endif %}
                                            </span>
                                        </tr>
                                    </table>
                                    <table style="margin: 30px auto">
                                        <tbody>
                                        <tr>
                                            <td style="height: 200px; width: 200px">
                                                <img src="{{ 'https://'~domain~'/build/images/mail/reminder_note_2.png' }}" alt="img"
                                                     style="height: 270px; width: 400px"/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table style="margin: 50px auto;">
                                        <tbody>
                                        <tr>
                                            <td style="hight: 35px">
                                                <a href="{{ data.healthDynamicUrl }}"
                                                   style="width: 300px; padding: 10px 50px; border-radius: 30px; height: 40px; background: #12C48B; color: #ffffff; font-size: 16px; font-weight: 300; margin: 0 auto;">{{ 'mail.reminder.goToIndex' | trans({}, 'mailing', locale) }}</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table style="width: 100%; margin-top: 50px;">
                                        <tbody style="">
                                        <tr>
                                            <td style="float: left">
                                                <a href="#">
                                                    <img src="{{ 'https://'~domain~'/build/images/mail/Orion_facebook.png' }}" alt="img" style="height: 18px; display: block;"/>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    <img src="{{ 'https://'~domain~'/build/images/mail/instagram-logo.png' }}" alt="img" style="height: 18px; display: block;"/>
                                                </a>
                                            </td>
                                            <td style="float: right">{{ 'mail.footer.slogan' | trans({}, 'mailing')}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>