{% extends 'base_mailing.html.twig' %}
{% block body %}

    <table>
        <tr>
            <p style="font-size: 16px; font-weight: 400; line-height: 1; margin-top: 0;  text-align: left; color: #16395B">
                <b>{{ 'mail.service-reminder.title' | trans({}, 'mailing', locale) }}</b>
            </p>
        </tr>
        <tr style="margin-bottom: 20px; display: block;">
            <span style="color: #16395B;">
                {% if data.message is defined and data.message is not empty %}
                    {{ data.message | raw }}
                {% endif %}
            </span>
        </tr>
    </table>
    <table style="margin: 30px auto">
        <tbody>
        <tr>
            <td style="height: 200px; width: 200px">
                <img src="{{ 'https://'~domain~'/build/images/mail/reminder_note_2.png' }}" alt="img"
                     style="height: 270px; width: 400px"/>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <tr style="margin-bottom: 20px; display: block;">
            <td style="margin-right: 95pxfloat: left;display: block;">
                <p style="margin-bottom: 5px;font-size: 14px;color: #000;font-weight: bold;">{{ 'mail.service-reminder.datetime' | trans({}, 'mailing', locale) }}</p>
                <span style="font-size: 14px;color: #000;margin-right: 96px;">{{ data.startDate }}</span>
            </td>
            <td style="margin-right: 95pxfloat: left;display: block;">
                <p style="margin-bottom: 5px;font-size: 14px;color: #000;font-weight: bold;">{{ 'mail.service-reminder.consultationType' | trans({}, 'mailing', locale) }}</p>
                <span style="font-size: 14px;color: #000;margin-right: 96px;">{{ data.consultationType }}</span>
            </td>
            <td style="margin-right: 95pxfloat: left;display: block;">
                <p style="margin-bottom: 5px;font-size: 14px;color: #000;font-weight: bold;">{{ 'mail.service-reminder.price' | trans({}, 'mailing', locale) }}</p>
                <span style="font-size: 14px;color: #000;margin-right: 96px;">{{ data.price }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <p style="margin-bottom: 5px;font-size: 14px;color: #000;font-weight: bold;">{{ 'mail.service-reminder.address' | trans({}, 'mailing', locale) }}</p>
                <span style="font-size: 14px;color: #000;">{{ data.receivingLocation }}</span>
            </td>
        </tr>
    </table>
    <table style="margin: 50px auto;">
        <tbody>
        <tr>
            <td style="hight: 35px">
                <a href="{{ cabinetBookedServicesUrl }}"
                   style="width: 300px; padding: 10px 50px; border-radius: 30px; height: 40px; background: #12C48B; color: #ffffff; font-size: 16px; font-weight: 300; margin: 0 auto;">{{ 'mail.service-reminder.goToService' | trans({}, 'mailing', locale) }}</a>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}