<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="min-height: 100%;">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&amp;subset=cyrillic" rel="stylesheet">
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <style>

        h3 {
            font-size: 21px;
        }
        p, li {
            font-weight: 300;
            color: #626476;
            font-size: 18px;
            line-height: 22px;
        }
        li {
            margin-bottom: 7px;
        }
        p {
            margin-bottom: 30px;
        }

        @media (max-width: 720px) {
            .main-block {
                width: 100%!important;

            }
            .main-block-logo {
                width: 100%!important;
            }
            .main-block.white .main-block-td {
                padding: 25px!important;
            }

            .big-padding {
                padding: 0 10px!important;
            }

            .p-tp {
                padding: 0 10px!important;
            }
            .ul-tp {
                padding: 0 10px 0 30px!important;
            }

        }

    </style>
</head>
<body style="background: #f7f9fe; -moz-box-sizing: border-box; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -webkit-text-size-adjust: 100%; Margin: 0; box-sizing: border-box; color: #000; font-family: 'Lato',sans-serif; font-size: 14px; font-weight: 300; line-height: 19px; margin: 0; min-width: 100%; padding: 0; text-align: left; width: 100% !important;">

<table style="background: #f7f9fe; border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 100%;">
    <tr style="padding: 0; text-align: left; vertical-align: top;">
        <td>
            <table style="background: #f7f9fe; border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 100%;">
                <tr>
                    <td style="background: #f7f9fe; padding: 44px 0;">
                        <table class="main-block-logo" align="center" style="background: #f7f9fe; border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 720px; margin: 0 auto;">
                            <tr>
                                <td style="width: 16%; vertical-align: middle;">
                                    <img width="100" height="79.86" src="{{ domain ~ asset('build/images/mail/logo.png') }}" style="width: 100px;" alt="" />
                                </td>
                                <td style="vertical-align: middle;">
                                    <table>
                                        <tr><td>

                                            </td></tr>
                                    </table>
                                    <p style="color: #000000; font-size: 28px;"><strong>MOE</strong> HEALTH</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 100%;">
                <tr>
                    <td style="">
                        <table class="main-block white" align="center" style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 720px; margin: 0 auto;">
                            <tr>
                                <td class="main-block-td" style="box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.04); background-color: #fff; border-radius: 6px; padding: 40px 60px;">
                                    <h3 style="font-size: 40px; font-weight: 400; line-height: 1; margin-top: 0;  text-align: center;">{{ subject }}</h3>

                                    {% if paragraph %}
                                    <p>
                                        {% endif %}
                                        {% block body %}
                                            {{ body | raw }}
                                        {% endblock %}
                                        {% if paragraph %}
                                    </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <td style="height: 40px"></td>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 100%;">
                <tr>
                    <td>
                        <table class="main-block" align="center" style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 720px; margin: 0 auto;">
                            <tr>
                                <td style="text-align: center;"><img width="60" height="47.91" src="{{ domain ~ asset('build/images/mail/logo.png') }}" style="width: 60px;" alt="" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <td style="height: 0px;"></td>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="text-align: center; color: #7e8890; font-size: 24px; font-weight: 400; margin-bottom: 10px">ГОТУЙ САНІ ВЛІТКУ. ЗДОРОВ’Я БЕРЕЖИ ЗМОЛОДУ.</p>
                                    <p style="text-align: center; color: #7e8890; font-size: 18px; font-weight: 400; font-style: italic;">Інформаційна медична платформа для здорових людей</p>
                                    <p style="text-align: center; color: #96a2ac; font-size: 18px; margin-top: 10px; font-weight: 400; ">Наша служба підтримки доступна за телефоном <strong>0 800 101 0050</strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <td style="height: 20px;"></td>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td style="padding: 17px 0;">
                        <table class="main-block" align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 640px; margin: 0 auto;">
                            <tr>
                                <td style="border-right: 1px solid #445059; width: 20%; text-align: center;">
                                    <a href="{{ domain ~ '/uk/news' }}" style="color: #445059; font-size: 15px; font-weight: 400; text-decoration: none;">Новини</a>
                                </td>
                                <td style="border-right: 1px solid #445059; width: 25%; text-align: center;">
                                    <a href="{{ domain ~ '/uk/page/public-affair' }}" style="color: #445059; font-size: 15px; font-weight: 400; text-decoration: none;">Публічна оферта</a>
                                </td>
                                <td style="border-right: 1px solid #445059; width: 29%; text-align: center;">
                                    <a href="{{ domain ~ '/uk/page/privacy-policy' }}" style="color: #445059; font-size: 15px; font-weight: 400; text-decoration: none;">Політика Приватності</a>
                                </td>
                                <td style="width: 26%; text-align: center;">
                                    <a href="{{ domain ~ '/uk/page/about-us' }}" style="color: #445059; font-size: 15px; font-weight: 400; text-decoration: none;">Про платформу</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>