<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="min-height: 100%;">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <style>

  h3 {
    font-size: 21px;
  }
  p {
    font-weight: 300;
    color: #626476;
    font-size: 18px;
    line-height: 22px;
  }
  </style>
</head>
<body style="-moz-box-sizing: border-box; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -webkit-text-size-adjust: 100%; Margin: 0; box-sizing: border-box; color: #000; font-family: 'Lato',sans-serif; font-size: 14px; font-weight: 300; line-height: 19px; margin: 0; min-width: 100%; padding: 0; text-align: left; width: 100% !important;">

  <table style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 100%;">
    <tr style="padding: 0; text-align: left; vertical-align: top;">
      <td>
        <table style="background: #f7f9fe; border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 100%;">
          <tr>
            <td style="background: #f7f9fe; padding: 44px 0;">
              <table style="background: #f7f9fe; border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 766px; margin: 0 auto;">
                <tr>
                  <td>
                    <img src="{{ domain ~ asset('build/images/mail/logo.png') }}" alt="" />
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td style="width: 49%;"></td>

                        <td style="padding-right: 15px;">
                          <a href="#">
                            <img src="{{ domain ~ asset('build/images/mail/fb.png') }}" alt="" />
                          </a>
                        </td>
                        <td style="padding-right: 15px;">
                          <a href="#">
                            <img src="{{ domain ~ asset('build/images/mail/in.png') }}" alt="" />
                          </a>
                        </td>
                        <td>
                          <a href="#">
                            <img src="{{ domain ~ asset('build/images/mail/tw.png') }}" alt="" />
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 100%;">
          <tr>
            <td style="padding: 110px 0 40px;">
              <table style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 700px; margin: 0 auto;">
                <tr>
                  <td>
                    {% if paragraph %}
                      <p>
                    {% endif %}
                        {% block body %}
                            {{ body | raw }}
                        {% endblock %}
                    {% if paragraph %}
                      </p>
                    {% endif %}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 100%;">
          <tr>
            <td style="padding: 17px 0;">
              <table style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 540px; margin: 0 auto;">
                <tr>
                  <td>
                    {#<a href="{{ path('news_list') }}" style="text-transform: uppercase; color: #5d6494; font-size: 11px; font-weight: 300; text-decoration: none;">{{ 'mailing.menu.news' | trans }}</a>#}
                    <a href="{{ domain ~ '/uk/news' }}" style="text-transform: uppercase; color: #5d6494; font-size: 11px; font-weight: 300; text-decoration: none;">Новини</a>
                  </td>
                  <td>
                    <a href="{{ domain ~ '/uk/page/public-affair' }}" style="text-transform: uppercase; color: #5d6494; font-size: 11px; font-weight: 300; text-decoration: none;">Публічна оферта</a>
                  </td>
                  <td>
                    <a href="{{ domain ~ '/uk/page/privacy-policy' }}" style="text-transform: uppercase; color: #5d6494; font-size: 11px; font-weight: 300; text-decoration: none;">Політика Приватності</a>
                  </td>
                  <td>
                    <a href="{{ domain ~ '/uk/page/about-us' }}" style="text-transform: uppercase; color: #5d6494; font-size: 11px; font-weight: 300; text-decoration: none;">Про платформу</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</body>
</html>