<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="min-height: 100%;">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&amp;subset=cyrillic" rel="stylesheet">
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <style>

        h3 {
            font-size: 21px;
        }
        p, li {
            font-weight: 300;
            color: #626476;
            font-size: 18px;
            line-height: 22px;
        }
        li {
            margin-bottom: 7px;
        }
        p {
            margin-bottom: 30px;
        }

        @media (max-width: 720px) {
            .main-block {
                width: 100%!important;

            }
            .main-block-logo {
                width: 100%!important;
            }
            .main-block.white .main-block-td {
                padding: 25px!important;
            }

            .big-padding {
                padding: 0 10px!important;
            }

            .p-tp {
                padding: 0 10px!important;
            }
            .ul-tp {
                padding: 0 10px 0 30px!important;
            }

        }

    </style>
</head>
<body style="background: #f7f9fe; -moz-box-sizing: border-box; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -webkit-text-size-adjust: 100%; Margin: 0; box-sizing: border-box; color: #000; font-family: 'Lato',sans-serif; font-size: 14px; font-weight: 300; line-height: 19px; margin: 0; min-width: 100%; padding: 0; text-align: left; width: 100% !important;">

<table style="background: #f7f9fe; border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 100%;">
    <tr style="padding: 0; text-align: left; vertical-align: top;">
        <td>
            <table style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 100%;">
                <tr>
                    <td>
                      <table class="main-block white" align="center" style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 600px; margin: 0 auto;">
                        <tr>
                            <td class="main-block-td" style="box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.04); background-color: #F5FCFA; padding: 20px 25px;">
                                <table class="main-block-logo" align="center" style="background: #f7f9fe; border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 720px; margin: 0 auto;">
                                    <tr>
                                        <td>
                                            <img width="100" height="79.86" src="{{ domain ~ asset('build/images/mail/logo.png') }}" style="width: 100px;" alt="" />
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <table>
                                                <tr><td>
        
                                                    </td></tr>
                                            </table>
                                            <p style="color: #000000; font-size: 28px;"><strong>MOE</strong> HEALTH</p>
                                        </td>
                                    </tr>
                                </table>
                                <p style="font-size: 16px; font-weight: 400; line-height: 1; margin-top: 0;  text-align: left; color: #16395B"><!-- {{ subject }} --> <strong>Вітаємо!</strong></p>
                                <span style="color: #16395B; ">Ви зробили перший крок до здорового життя</span>
                                <!-- {% if paragraph %}
                                <p>
                                    {% endif %}
                                    {% block body %}
                                        {{ body | raw }}
                                    {% endblock %}
                                    {% if paragraph %}
                                </p>
                                {% endif %} -->
                                <p style="font-size: 16px; font-weight: 400; line-height: 1; margin-top: 0;  text-align: left; color: #16395B; margin-bottom: 20px;"><!-- {{ subject }} --> <strong>Тепер Вам доступні такі функції</strong></p>
                                <table>
                                  <tbody>
                                    <tr>
                                      <td style="padding-bottom: 25px;">
                                        <div class="icon-item" style = "border-radius: 50%; border: 1px solid #2CE3BA; width: 60px; height: 60px; float: left;">
                                          <span style="background: #ffffff; width: 50px; height: 50px; display: block; margin: 5px; border-radius: 50%;">
                                            <img width="100" height="79.86" src="{{ domain ~ asset('build/images/mail/logo.png') }}" style="width: 100px;" alt="" />
                                          </span>
                                        </div>
                                        <div class="icon-text" style="color: #16395B; margin-left: 70px; margin-top: 13px;">
                                          <span style="display: block; font-weight: 500; font-size: 16px;">Бронювання лікарів онлайн</span>
                                          <span style="display: block; font-size: 13px;">Обирайте лікаря на свій розсуд: за рейтингом, відгуками чи рекомендаціями.</span>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="padding-bottom: 25px;">
                                        <div class="icon-item" style="border-radius: 50%; border: 1px solid #2CE3BA; width: 60px; height: 60px; float: left;">
                                          <span style="background: #ffffff; width: 50px; height: 50px; display: block; margin: 5px; border-radius: 50%;">
                                            <img width="100" height="79.86" src="{{ domain ~ asset('/build/images/general/AnalyticsNav.svg') }}" style="width: 100px;" alt="" />
                                          </span>
                                        </div>
                                        <div class="icon-text" style="color: #16395B; margin-left: 70px; margin-top: 13px;">
                                          <span style="display: block; font-weight: 500; font-size: 16px;">Моніторинг здоров’я</span>
                                          <span style="display: block; font-size: 13px;">Унікальна система попередженя захворювань</span>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="padding-bottom: 25px;">
                                        <div class="icon-item" style="border-radius: 50%; border: 1px solid #2CE3BA; width: 60px; height: 60px; float: left;">
                                          <span style="background: #ffffff; width: 50px; height: 50px; display: block; margin: 5px; border-radius: 50%;">
                                            <img width="100" height="79.86" src="{{ domain ~ asset('/build/images/general/AnalyticsNav.svg') }}" style="width: 100px;" alt="" />
                                          </span>
                                        </div>
                                        <div class="icon-text" style="color: #16395B; margin-left: 70px; margin-top: 13px;">
                                          <span style="display: block; font-weight: 500; font-size: 16px;">Медичний архів</span>
                                          <span style="display: block; font-size: 13px;">Смарт-поштова скринька з результатамианалізів та консультацій</span>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="padding-bottom: 45px;">
                                        <div class="icon-item" style="border-radius: 50%; border: 1px solid #2CE3BA; width: 60px; height: 60px; float: left;">
                                          <span style="background: #ffffff; width: 50px; height: 50px; display: block; margin: 5px; border-radius: 50%;">
                                            <img width="100" height="79.86" src="{{ domain ~ asset('/build/images/general/AnalyticsNav.svg') }}" style="width: 100px;" alt="" />
                                          </span>
                                        </div>
                                        <div class="icon-text" style="color: #16395B; margin-left: 70px; margin-top: 13px;">
                                          <span style="display: block; font-weight: 500; font-size: 16px;">Кешбек та бонуси</span>
                                          <span style="display: block; font-size: 13px;">Повертаємо частину коштів, витрачених на придбані послуги лікарів.</span>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table style="margin: 0 auto;">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <button type="submit" style="width: 300px; padding: 10px 20px; border-radius: 30px; height: 40px; background: #12C48B; color: #ffffff; font-size: 16px; font-weight: 300; margin: 0 auto;">Підтвердити реєстрацію</button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                            </td>
                        </tr>
                      </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>