<table style="width: 100%; margin-top: 50px;">
    <tbody style="">
    <tr>
        <td style="float: left">
            <a href="#">
                <img src="{{ 'https://'~domain~'/build/images/mail/Orion_facebook.png' }}" alt="img" style="height: 18px; display: block;"/>
            </a>
        </td>
        <td>
            <a href="#">
                <img src="{{ 'https://'~domain~'/build/images/mail/instagram-logo.png' }}" alt="img" style="height: 18px; display: block;"/>
            </a>
        </td>
        <td style="float: right">{{ 'mail.footer.slogan' | trans({}, 'mailing', locale) }}</td>
    </tr>
    </tbody>
</table>