<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Type" content="image/png"/>
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&amp;subset=cyrillic" rel="stylesheet"/>
    <style type="text/css">

        h3 {
            font-size: 21px;
        }
        p, li {
            font-weight: 300;
            color: #626476;
            font-size: 18px;
            line-height: 22px;
        }
        li {
            margin-bottom: 7px;
        }
        p {
            margin-bottom: 30px;
        }

        @media (max-width: 720px) {
            .main-block {
                width: 100%!important;

            }
            .main-block-logo {
                width: 100%!important;
            }
            .main-block.white .main-block-td {
                padding: 25px!important;
            }

            .big-padding {
                padding: 0 10px!important;
            }

            .p-tp {
                padding: 0 10px!important;
            }
            .ul-tp {
                padding: 0 10px 0 30px!important;
            }

        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
    <body style="background: #f7f9fe; -moz-box-sizing: border-box; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -webkit-text-size-adjust: 100%; Margin: 0; box-sizing: border-box; color: #000; font-family: 'Lato',sans-serif; font-size: 14px; font-weight: 300; line-height: 19px; margin: 0; min-width: 100%; padding: 0; text-align: left; width: 100% !important;">
        <table style="background: #ffffff; border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 100%;">
            <tr style="padding: 0; text-align: left; vertical-align: top;">
                <td>
                    <table style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 100%;">
                        <tr>
                            <td>
                                <table class="main-block white" align="center" style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 600px; margin: 0 auto;">
                                    <tr>
                                        <td class="main-block-td" style="box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.04); background-color: #F5FCFA; padding: 20px 25px;">
                                            {{ include('base_header.html.twig') }}
                                            {% block body %}
                                                {% if data.message is defined and data.message is not empty %}
                                                    {{ data.message | raw }}
                                                {% endif %}
                                            {% endblock %}
                                            {{ include('base_footer.html.twig') }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
