<table class="main-block-logo" align="center" style="border-collapse: collapse; border-spacing: 0; font-family: 'Lato',sans-serif; font-size: 14px; margin: 0; padding: 0; width: 600px; margin: 0 auto 30px;">
    <tr >
        <td>
            <a href="{{  'http://'~domain~'/' }}" target="_blank"><img src="{{ 'https://'~domain~'/build/images/mail/logo-video.png' }}" style="width: 150px;height: 36px;" alt="img" /></a>
        </td>
    </tr>
</table>