{% extends 'base_mailing.html.twig' %}
{% block body %}
    <table>
        <tr>
            <p style="font-size: 16px; font-weight: 400; line-height: 1; margin-top: 0;  text-align: left; color: #16395B">
                <b>{{ 'mail.participationInConciliumSubject' | trans({}, 'mailing', locale) }}</b>
            </p>
        </tr>
        <tr style="margin-bottom: 20px; display: block;">
            <span style="color: #16395B;">
                {{ data.translationKey | trans(data.translationOptions, 'mailing', locale) | raw}}
            </span>
        </tr>
    </table>
    <table style="margin: 30px auto">
        <tbody>
        <tr>
            <td style="height: 200px; width: 200px">
                <img src="{{ 'https://'~domain~'/build/images/mail/undraw_doctor_kw5l.png' }}" alt="img"
                     style="height: 270px; width: 400px"/>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <tr style="margin-bottom: 20px; display: block;">
            <td style="margin-right: 95pxfloat: left;display: block;">
                <p style="margin-bottom: 5px;font-size: 14px;color: #000;font-weight: bold;">{{ 'mail.booking.consultationType' | trans({}, 'mailing', locale) }}</p>
                <span style="font-size: 14px;color: #000;">{{ 'mail.concilium.description' | trans({}, 'mailing', locale) }}</span>
            </td>
            <td style="margin-right: 95pxfloat: left;display: block;">
                <p style="margin-bottom: 5px;font-size: 14px;color: #000;font-weight: bold;">{{ 'mail.concilium.title' | trans({}, 'mailing', locale) }}</p>
                <span style="font-size: 14px;color: #000;">{{ data.concilium.title }}</span>
            </td>
            <td style="margin-right: 95pxfloat: left;display: block;">
                <p style="margin-bottom: 5px;font-size: 14px;color: #000;font-weight: bold;">{{ 'mail.concilium.concilium.creator' | trans({}, 'mailing', locale) }}</p>
                <span style="font-size: 14px;color: #000;">{{ data.concilium.organizerFullName }}</span>
            </td>
            <td style="margin-right: 95pxfloat: left;display: block;">
                <p style="margin-bottom: 5px;font-size: 14px;color: #000;font-weight: bold;">{{ 'mail.concilium.concilium.client' | trans({}, 'mailing', locale) }}</p>
                <span style="font-size: 14px;color: #000;">{{ data.concilium.ownerFullName }}</span>
            </td>
            {% if data.receiverId == data.concilium.ownerId %}
                <td style="margin-right: 95pxfloat: left;display: block;">
                    <p style="margin-bottom: 5px;font-size: 14px;color: #000;font-weight: bold;">{{ 'mail.concilium.price' | trans({}, 'mailing', locale) }}</p>
                    <span style="font-size: 14px;color: #000;">{{ data.concilium.price }} {{ 'currency.uah' | trans({}, 'mailing', locale) }}</span>
                </td>
            {% endif %}
            <td style="margin-right: 95pxfloat: left;display: block;">
                <p style="margin-bottom: 5px;font-size: 14px;color: #000;font-weight: bold;">{{ 'mail.concilium.datetime' | trans({}, 'mailing', locale) }}</p>
                <span style="font-size: 14px;color: #000;">{{ data.concilium.startDate }}</span>
            </td>
            <td style="margin-right: 95pxfloat: left;display: block;">
                <p style="margin-bottom: 5px;font-size: 14px;color: #000;font-weight: bold;">{{ 'mail.concilium.duration' | trans({}, 'mailing', locale) }}</p>
                <span style="font-size: 14px;color: #000;">
                    {% if data.concilium.durationHours|number_format > 0 %}
                        {{ 'mail.concilium.durationFormat' | trans({
                            '%H%': data.concilium.durationHours,
                            '%i%': data.concilium.durationMinute
                        }, 'mailing', locale) }}
                    {% else %}
                        {{ data.concilium.durationMinute }} {{ 'concilium.duration.minutes' | trans({}, 'mailing', locale) }}
                    {% endif %}
                </span>
            </td>
        </tr>
    </table>
    <table style="margin: 50px auto;">
        <tbody>
        <tr>
            <td style="hight: 35px">
                <a href="{{ data.url }}"
                   style="width: 300px; padding: 10px 50px; border-radius: 30px; height: 40px; background: #12C48B; color: #ffffff; font-size: 16px; font-weight: 300; margin: 0 auto;">{{ 'mail.concilium.viewService' | trans({}, 'mailing', locale) }}
                </a>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}