{% extends 'base_mailing.html.twig' %}
{% block body %}
    <table>
        <tr>
            <p style="font-size: 16px; font-weight: 400; line-height: 1; margin-top: 0;  text-align: left; color: #16395B">
                <b>
                    Контрольний лист про успішне надсилання пошти сервісом =Ь
                </b>
            </p>
        </tr>
        <tr>
            <hr>
            <p>Шаблон - {{ data.template }}</p>
            <p>Тема повідомлення - {{ data.subject }}</p>
            <p>Локаль - {{ data.locale }}</p>
            <p>Надіслано користувачеві - {{ data.user }}</p>
            <hr>
        </tr>
    </table>
{% endblock %}