{% extends 'base_mailing.html.twig' %}
{% block body %}
    {# Please, don`t try to translate this template! It`s only for internal use. #}
    <p>
        Користувач {{ data.sender }} створив заявку на виведення {{ data.sum }}грн.
        Ідентифікатор заявки  {{ data.transactionId }}.
        Зв'язатись з користувачем можна за телефоном {{ data.senderPhone }}, або на електронну пошту {{ data.senderEmail }}.
    </p>
{% endblock %}
