{% extends 'base_mailing.html.twig' %}
{% block body %}
    <p>
        {{ 'mail.withdrawClientApproveText' | trans({
            '%card%': data.cardNumber,
            '%amount%': data.sum
        }, 'mailing', locale) }}
    </p>
    <table style="margin: 50px auto; margin-top: 30px">
        <tbody>
        <tr>
            <td style="hight: 35px">
                <a href="{{ data.approveUrl }}"
                   style="width: 300px; padding: 10px 20px; border-radius: 30px; height: 40px; background: #12C48B; color: #ffffff; font-size: 16px; font-weight: 300; margin: 0 auto;"> {{ 'mail.withdrawAccept' | trans({}, 'mailing', locale) }}</a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
